.kyc-container {
  background-color:#ccc5c5;
  padding: 40px;
  border-radius: 10px;
  zoom: 80%;
}
.main-kyc{
    width: 947px;
    height: 673px;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
  }
  .leftMain-kyc{
    width: 260px;
    height: 673px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
  }
  
  .rightMain-kyc{
    width: 687px;
    height: 673px;
    background-color:#E5E5E5 ;
    border-radius: 0px 10px 10px 0px;
  }
  .lmh1-kyc{
  width: 88px;
  height: 27px;
  margin-left: 30px;
  margin-top: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #4C5565;
  background-color:white ;
  }
  .lmh2-kyc{
    width: 190px;
    height: 36px;
    margin-left: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4C5565;
    background-color:white ;
  }
  .fa-check{
    background-color:white ;
    color: #26C24C;
    margin-left: 30px;
    margin-top: 20px;
  }
  .contact-kyc{
  width: 50px;
  height: 18px;
  margin-left: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #26C24C;
  background-color:white ;
  }
  .busov-kyc{
  width: 112px;
  height: 18px;
  margin-left: 30px;
  margin-top: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #2C3539;
  background-color:white ;
  }
  .businessbar-kyc{
    background-color:white ;
  }
  .businessDetails-kyc{
  width: 260px;
  height: 35px;
  background: #2B83EA;
  margin-top: 15px;
  padding-top: 10px;
  }
  .bdspan-kyc{
  width: 98px;
  height: 18px;
  margin-left: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #F0F3F4;
  background: #2B83EA;
  }
  .fa-chevron-right{
    background: #2B83EA;
    color:#F0F3F4;
    margin-left: 100px;
  
  }
  .rmh1-kyc{
  width: 157px;
  height: 27px;
  margin-top: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #4C5565;
  background-color:#E5E5E5 ;
  margin-left: 50px;
  }
  .panh1-kyc{
  width: 46px;
  height: 27px;
  margin-left: 200px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #4C5565;
  background-color:#E5E5E5 ;
  }
  .pan-kyc{
    background-color:#E5E5E5 ;
  }
  .pani-kyc{
  width: 266px;
  height: 47px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 30px;
  }
  .panhh1-kyc{
    width: 46px;
    height: 27px;
    margin-left: 66px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #4C5565;
    background-color:#E5E5E5 ;
    }
    .panholder-kyc{
      background-color:#E5E5E5 ;
      margin-top: 10px;
    }
    .panhi-kyc{
    width: 266px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
    }
    .panhh2-kyc{
  width: 252px;
  height: 45px;
  margin-left: 273px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #4C5565;
  background-color:#E5E5E5 ;
  }
  .billh1-kyc{
    width: 46px;
    height: 27px;
    margin-left: 131px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #4C5565;
    background-color:#E5E5E5 ;
    }
    .billing-kyc{
      background-color:#E5E5E5 ;
      margin-top: 10px;
    }
    .billi-kyc{
    width: 266px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
    }
    .addh1-kyc{
      width: 46px;
      height: 27px;
      margin-left: 162px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #4C5565;
      background-color:#E5E5E5 ;
      }
      .address-kyc{
        background-color:#E5E5E5 ;
        margin-top: 10px;
      }
      .addi-kyc{
      width: 266px;
      height: 87px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      border-radius: 5px;
      margin-left: 30px;
      }
      .pch1-kyc{
        width: 46px;
        height: 27px;
        margin-left: 154px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #4C5565;
        background-color:#E5E5E5 ;
        }
        .pincode-kyc{
          background-color:#E5E5E5 ;
          margin-top: 10px;
        }
        .pci-kyc{
        width: 266px;
        height: 47px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 30px;
        }
        .ch1-kyc{
          width: 46px;
          height: 27px;
          margin-left: 199px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #4C5565;
          background-color:#E5E5E5 ;
          }
          .city-kyc{
            background-color:#E5E5E5 ;
            margin-top: 10px;
          }
          .ci-kyc{
          width: 266px;
          height: 47px;
          background: #FFFFFF;
          border: 1px solid rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          border-radius: 5px;
          margin-left: 30px;
          }  
          .stateh1-kyc{
            width: 46px;
            height: 27px;
            margin-left: 187px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #4C5565;
            background-color:#E5E5E5 ;
            }
            .state-kyc{
              background-color:#E5E5E5 ;
              margin-top: 10px;
            }
            .statei-kyc{
            width: 266px;
            height: 47px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            border-radius: 5px;
            margin-left: 30px;
            } 
            
  .button-kyc{
    background-color:#E5E5E5 ;
    margin-top: 60px;
    padding-left: 250px;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }          
  .checkbox-kyc{
  width: 15px;
  height: 15px;
  background: #F0F3F4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
  }   
  .terms-kyc{
  width: 211px;
  height: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  background-color:#E5E5E5 ;
  }
  .submit-kyc{
  padding: 8px 17px;
  width: 143px;
  height: 34px;
  margin-left: 30px;
  background: #2B83EA;
  border-radius: 7px;
  border: none;
  color: white;
  font-family: Poppins;
  font-size: 12px;
  }
  
  @media (max-width:800px){
    .kyc-container {
      width: 100%;
      background-color:#ccc5c5;
      padding: 10px;
      zoom: 100%;
    }
    .main-kyc{
      width: 400px;
      height: 1000px;
      display: flex;
      flex-direction: column;
      margin: 0px;
    }
    .leftMain-kyc{
      width: 100%;
      height: 226px;
      background-color: white;
      border-radius: 10px 0px 0px 0px;
    }
    
    .rightMain-kyc{
      width: 100%;
      height: 1000px;
      background-color:#E5E5E5 ;
      border-radius: 0px 0px 0px 10px;
    }
    .businessbar-kyc{
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .businessDetails-kyc{
      width: 200px;
      height: 35px;
      background: #2B83EA;
      padding-top: 10px;
      margin-left: 60px;
      }
      .bdspan-kyc{
      width: 98px;
      height: 18px;
      margin-left: 30px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #F0F3F4;
      background: #2B83EA;
      }
      .fa-chevron-right{
        background: #2B83EA;
        color:#F0F3F4;
        margin-left: 50px;
      }
      .busov-kyc{
        padding-bottom: 10px;
      }
      .panh1-kyc{
        font-size: 14px;
        margin-left: 110px;
        }
      .pani-kyc{
          width: 200px;
          }
      .panhh1-kyc{
        font-size: 14px;
        margin-left: 6px;
      }
      .panhi-kyc{
        width: 200px;
      }
      .panhh2-kyc{
        margin-left: 175px;
        font-size: 9px;
        width: 200px;
        height: 50px;
      }
      .billing-kyc{
        margin-top: 0px;
      }
      .billh1-kyc{
        font-size: 14px;
        margin-left: 55px;
      }
      .billi-kyc{
        width: 200px;
      }
      .addh1-kyc{
        font-size: 14px;
        margin-left: 80px;
      }
      .addi-kyc{
        width: 200px;
      }
      .pch1-kyc{
        font-size: 14px;
        margin-left: 74px;
      }
      .pci-kyc{
        width: 200px;
      }
      .ch1-kyc{
        font-size: 14px;
        margin-left: 110px;
      }
      .ci-kyc{
        width: 200px;
      }
      .stateh1-kyc{
        font-size: 14px;
        margin-left: 100px;
      }
      .statei-kyc{
        width: 200px;
      }
      .button-kyc{
        margin-left: 0px;
        padding-left: 40px;
      }
      .submit-kyc{
        margin-top: 20px;
      }
  
  
  }